

body {
  background-color: #2E2F2F;
margin: 0;
}

nav > ul {
  background-image: linear-gradient(to bottom right, #E0B0FF, #32CBFF);
  color: #E0B0FF;
  margin: 0px;
  /* border: #E0B0FF 30px solid; */
  padding: 30px;
  display: flex;
  flex-direction:row;
  align-items: center;
  font-family: "Sour Gummy", sans-serif;



}

a:hover {
  background-color: #32CBFF;
  color: #E0B0FF;
}
a:active {
  color: #323232;
  background-color: #32CBFF;
}

.welcome  a:active {
  color: #32CBFF;
}

.welcome  a:visited {
  color: #32CBFF;
}

a {
  color: #323232;

  padding: 10px;
  margin: 10px;
}

.flex-container {
  display: flex;
  flex-direction: column;
border: solid black;
}

#slide-container > * {
  margin: 20px;
  border: 10px;
  padding: 10px;
  height: 500px;

}

.welcome > p {
  font-size: larger;
  margin: 20px;
  border: 10px;
  padding-left: 15%;
  justify-content: center;
}



#icon > img {
  height: 200px;
}

#cat-api  {
  display: flex;
  flex-direction: column;

}

#fact-api {
  display: flex;
  border: #32CBFF solid;
  background-image: linear-gradient(to bottom right, #E0B0FF, #32CBFF);
align-items: center;
padding: 100px;
color: #2E2F2F;
border-color: #E0B0FF;
font-family: "Sour Gummy", sans-serif;
font-optical-sizing: auto;
font-weight: 00;
font-style: normal;
font-variation-settings:
  "wdth" 100;
}




h1 {
  background-image: linear-gradient(to bottom right, #E0B0FF, #32CBFF);
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    display: flex;
    justify-content: center;
}

h2, h3, p {
  color: #E0B0FF;
}

#cat-welcome {
  display: flex;
  flex-direction: column;
  width: 700px;
  align-items: center;
padding-left: 20%;
}

#question-form {
  display: flex;
  flex-direction: column;
}

#question-form button{
background-color: #32CBFF;
color:#323232;
}
#question-form button:hover {
  background-color: #E0B0FF;
  color: #32CBFF;
}

#question-form label {
  color: #32CBFF;
}
#question-form #question {
  background-image: linear-gradient(to bottom right, #E0B0FF, #32CBFF);
  border-radius: 100px;
  color: #323232;
}

#question-post {
  border: #32CBFF solid;


}

section {
  background-image: url("assets/img/cool-cat.jpg")
}

#questions-post {
  display: grid;
  flex-direction: column;
justify-content: baseline;
}

.dropdown button {
background-color: #E0B0FF;
color: #2E2F2F;
padding: 10px 15px;
border: none;
cursor: pointer;
}

.dropdown a {
display: block;
color: #32CBFF;
text-decoration: none;
padding: 10px 15px;

}

.dropdown .content {
  display: none;
  position: absolute;
  background-color: #323232;
  min-width: 100px;
  box-shadow: 2px 2px 5px;

}

.dropdown:hover .content {
  display: block;
}

.dropdown:hover button{
background-color: #32CBFF;
}

.dropdown a:hover {
background-color: #E0B0FF;
}

.dropdown {
  display: inline-block;
}



.droplist button {
  background-color: #E0B0FF;
  color: #2E2F2F;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  }

  .droplist a {
  display: block;
  color: #32CBFF;
  text-decoration: none;
  padding: 10px 15px;

  }

  .droplist .content {
    display: none;
    position: absolute;
    background-color: #323232;
    min-width: 100px;
    box-shadow: 2px 2px 5px;

  }

  .droplist:hover .content {
    display: block;
  }

  .droplist:hover button{
  background-color: #32CBFF;
  }

  .droplist a:hover {
  background-color: #E0B0FF;
  }

  .droplist {
    display: inline-block;
  }




.dropbar button {
  background-color: #E0B0FF;
  color: #2E2F2F;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  }

  .dropbar a {
  display: block;
  color: #32CBFF;
  text-decoration: none;
  padding: 10px 15px;

  }

  .dropbar .content {
    display: none;
    position: absolute;
    background-color: #323232;
    min-width: 100px;
    box-shadow: 2px 2px 5px;

  }

  .dropbar:hover .content {
    display: block;
  }

  .dropbar:hover button{
  background-color: #32CBFF;
  }

  .dropbar a:hover {
  background-color: #E0B0FF;
  }

  .dropbar {
    display: inline-block;
  }









td {
  display: grid;
grid-template-rows: 25px
50px
20px;
border: #323232 solid;
justify-content: center;
background-color: #32CBFF;
}

footer {
  background-image: linear-gradient(to bottom right, #E0B0FF, #32CBFF);
color: #2E2F2F;
}


.void-cat img {
  width:700px;
padding-left: 350px;
}



nav img {
  justify-content:center;
  width: 70px;
  position: relative;
  left: 650px;
  /* border: #2E2F2F solid; */


}

#my-cats img {
  width:200px;
}

#my-cats p {
  position: relative;
  left: 200px;
  bottom: 50px;
  font-style: italic;
  padding-left:20px ;
}

#my-cats p {
  display: flex;
  flex-direction: column;
}

.contact-me {
background-image:url("assets/img/orange-cat.jpg");
width: 100%;
height: 100%;
padding: 500px;

}

.contact-me p {
  display: flex;
  justify-content: start;
  font-size: larger;
  border-color: #2E2F2F;
}

.contact-me a {
  background-color: #32CBFF;
}

 @media (max-width: 412px) {
nav > ul {
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 0;
}
 }

 @media (max-width: 412px) {
  #cat-welcome {
    display:flex;
    justify-content: center;
    padding: 0 0;
  }
   }

   @media (max-width: 412px) {
    #cat-welcome > img {
      display: flex;
      justify-content: center;
   width: 200px;
   flex-direction: row;
    }
   }


 @media (max-width: 412px) {
  body > * {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 0;
    position: relative;
    left: 50px;
    width:412px;
  }
   }

   @media (max-width: 412px) {
    p {
      font-size: medium;
    }
   }

   @media (max-width:412) {
    .contact-me {
    display:flex;
    flex-direction: row;
    justify-content: center;
    }
   }

   @media (max-width:412) {
    .contact-me {
      background-image:url("assets/img/cat-capstone-2.jpg");
      display: flex;
      flex-direction: column;
     width: 50%;
     height: 50%;
     padding: 100px;

     }
   }

   @media (max-width:412) {
#fact-api {
width: 30%;
border:20%;

   }

   @media (max-width) {
    h1, h2, h3 {
width: 95%;
    }
   }

   @media (max-width:412) {
    #fact-api > h3 {
    width: 22%;

       }

       @media (max-width:412) {
        .void-cat img {
          width: 70%;
          height: 40%;
        padding: 0px;
        }
       }

       @media (max-width:412) {
        footer {
          position: relative;
          top:600px;


        }
       }

@media (max-width:412) {
  nav img {
    position: fixed;
    left: 10px;
    width: 30px;

  }
}

.resource-list {
padding: 0;
margin: 0;
font-family:'Courier New', Courier, monospace;
}

.resource-list {
list-style: none;
background-color: #E0B0FF;
}

