

body {
  background-color: #2E2F2F;
margin: 0;
}

nav > ul {
  background-image: linear-gradient(to bottom right, #E0B0FF, #32CBFF);
  color: #E0B0FF;
  margin: 0px;
  /* border: #E0B0FF 30px solid; */
  padding: 30px;
  display: flex;
  flex-direction:row;
  align-items: center;
  font-family: "Sour Gummy", sans-serif;


}

a:hover {
  background-color: #32CBFF;
  color: #E0B0FF;
}
a:active {
  color: #323232;
  background-color: #32CBFF;
}

.welcome  a:active {
  color: #32CBFF;
}

.welcome  a:visited {
  color: #32CBFF;
}

a {
  color: #323232;

  padding: 10px;
  margin: 10px;
}

.flex-container {
  display: flex;
  flex-direction: column;
border: solid black;
}

#slide-container > * {
  margin: 20px;
  border: 10px;
  padding: 10px;
  height: 500px;

}

.welcome > p {
  font-size: larger;
  margin: 20px;
  border: 10px;
  padding-left: 15%;
  justify-content: center;
}



#icon > img {
  height: 200px;
}

#cat-api  {
  display: flex;
  flex-direction: column;

}

#fact-api {
  display: flex;
  border: #32CBFF solid;
  background-image: linear-gradient(to bottom right, #E0B0FF, #32CBFF);
align-items: center;
padding: 100px;
color: #2E2F2F;
border-color: #E0B0FF;
font-family: "Sour Gummy", sans-serif;
font-optical-sizing: auto;
font-weight: 00;
font-style: normal;
font-variation-settings:
  "wdth" 100;
}




h1 {
  background-image: linear-gradient(to bottom right, #E0B0FF, #32CBFF);
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    display: flex;
    justify-content: center;
}

h2, h3, p {
  color: #E0B0FF;
}

#cat-welcome {
  display: flex;
  flex-direction: column;
  width: 700px;
  align-items: center;
padding-left: 20%;
}



footer {
  background-image: linear-gradient(to bottom right, #E0B0FF, #32CBFF);
color: #2E2F2F;
}

.contact-me {
 background-image:url("assets/img/orange-cat.jpg");
width: 100%;
height: 100%;
padding: 500px;

}

.contact-me p {
  display: flex;
  justify-content: start;
  font-size: larger;
  border-color: #2E2F2F;
}

.contact-me a {
  background-color: #32CBFF;
}


